/* NAVBAR */
.navbar {
  height: 5rem;
}
/* BANNER */
.carousel {
  margin-top: 45px;
}
.carousel-item {
  max-height: calc(100vh - 45px);
}
.carousel-item h5 {
  font-size: 3rem;
}
.carousel-item p {
  font-size: 4rem;
  font-weight: 600;
}
.carousel-item button {
  margin-bottom: 4rem;
}
/* MAIN */
/* SERVICES */
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  background-color: #dc3545;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
