/* NAVBAR */
.navbar {
  height: 5rem;
}
/* BANNER */
.carousel {
  margin-top: 45px;
}
.carousel-item {
  max-height: calc(100vh - 45px);
}
.carousel-item h5 {
  font-size: 3rem;
}
.carousel-item p {
  font-size: 4rem;
  font-weight: 600;
}
.carousel-item button {
  margin-bottom: 4rem;
}
/* MAIN */
/* SERVICES */
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  background-color: #dc3545;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT US */
.about-img {
  width: 100%;
  height: 85%;
}

/* OUR TEAM */
.our-img {
  border: 10px solid lightgray !important;
}
.fa-brands {
  color: white;
  background-color: rgb(37, 37, 37);
  border: 1rem solid rgb(37, 37, 37);
  width: 3rem;
  border-radius: 50%;
}
.osman {
  width: 69.5% !important;
}
/* PARTNERSHIP */
.partner img {
  width: 75%;
}
.partner {
  padding: 3rem 8rem !important;
}
#contact {
  background-image: url(./img/map.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn{
  width: 9rem;
  height: 3rem;

}
